body {
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.myContainer {
    width: 100vw;
}

.myContainer header {
    width: 100%;
    height: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(219, 219, 219);
    font-size: 40px;
    font-weight: 700;
}

.myContainer section#tableSection > table > tbody {
    vertical-align: middle;
}

.claseDeMergeConflict {
    width: 100%;
}
